.DS_Store
.env
app/.env
# Model checkpoints and weights
stream_platform/MoViNet-pytorch/
*.mp4
*.avi
# Python cache
__pycache__/
stream_platform/Dockerfile
venv/
app/venv/
**/__pycache__/
*.pyc
main_code/precomputed_skeletons/

*.pt
*.safetensors
.venv